@font-face {
    font-family: 'Inknut Antiqua';
    font-weight: normal;
    font-style: normal;
    src: url('assets/inknut_antiqua/InknutAntiqua-Regular.ttf') format('truetype'); /* Specify the TTF font file */
}
@font-face {
    font-family: 'Special Elite';
    font-weight: normal;
    font-style: normal;
    src: url('assets/special_elite/SpecialElite-Regular.ttf') format('truetype'); /* Specify the TTF font file */
}

body {
    background-color:#E5E0DA;
    margin: 0;  
}

#headerBar{
    width: 100vw;
    height: 12vh;

    position: fixed;
    top: 0;
    background-color:#8C1C13;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif;

    h1{
        color: #E5E0DA;
        font-size: 34px;
        display: flex;
        margin-bottom: -18px;
        margin-top: 0px;
    }

    h3{
        background-color: #A78A7F;
        color: black;
        font-size: 12px;
        margin: 0;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 2;
    }
  }

  #siteCrest{
    margin-top: 15px;
    margin-bottom: -35px;
  }