
@font-face {
  font-family: 'Inknut Antiqua';
  font-weight: normal;
  font-style: normal;
  src: url('assets/inknut_antiqua/InknutAntiqua-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inknut Antiqua Bold';
  font-weight: normal;
  font-style: normal;
  src: url('assets/inknut_antiqua/InknutAntiqua-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('assets/rubik/static/Rubik-Regular.ttf') format('truetype');
}

body {
  background-color:#E5E0DA;
  margin: 0;  
}

#headerBar{
  width: 100vw;
  height: 10vh;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color:#8C1C13;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inknut Antiqua', serif;

  h1{
      color: #E5E0DA;
      font-size: 34px;
      margin-bottom: -18px;
      margin-top: 0px;
  }
  h3{
      background-color: #A78A7F;
      color: black;
      font-size: 12px;
      margin: 0;
      padding-left: 6px;
      padding-right: 6px;
      line-height: 2;
  }
}

#siteCrest{
  margin-top: -10px;
  margin-bottom: -35px;
  width: 53px;
}

#navigationBar{
  width: 100vw;
  height: 4vh;
  margin-bottom: 5px;
  background-color: #A78A7F;
  border: 1px solid black;

  font-family: 'Inknut Antiqua', serif;
  font-size: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  h2:hover{
      font-family: 'Inknut Antiqua Bold', serif;
      cursor: default;
  }
}

#currentPage{
  text-decoration: underline;
}

#pageContent{
  width: 100vw;
  height: 75vh;
}

#pageContentTopRow{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}

#calendar{
  color: black;
  width: 50%;
  height: 90%;
  padding: 10px;

  h2{
    margin-left: 10px;
  }
}

#calendarOrganization{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}

.calendarMeetingTitles{
  width: 75%;
  height: 100%;
  margin: 0px;

  display: flex;
  flex-direction: column;
  text-align: center;

  h4{
      margin-bottom: -15px;
      margin-right: 30px;
  }
  h5{
    margin-right: 30px;
    margin-bottom:-5px;
  }
}
.calendarMeetingDates{
  width: 10%;
  height: 100%;
  margin: 0px;
  margin-left: 35px;

  h5{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #CAB7B0;
      margin: 0px;
      margin-top: 10px;
      margin-right: 80px;
      border-radius: 8px;
      width: 50px;
      height: 50px;
  }
}

.divider {
  margin-top: 5px;
  width: 2px;
  height: 95%;
  background-color: black;
}

#quickAccess{
  width: 50%;
  height: 90%;
  padding: 10px;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#allButtonGroups{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonGroup{
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
      background-color: #CAB7B0;
      font-family: 'Rubik', serif;
      font-size: 18px;
      border: 2px solid #A78A7F9D;
      padding: 5px;
      margin: 3px;
  }

  button:hover{
      border: 2px solid black;
  }
}

#mainImage{
  width: 210px;
  height: auto;
}

#hiddenMainImage{
  display: flex;
  width: 40%;
  height: auto;
}

#hiddenMainImageContainer{
  display: none;
  width: 100%;
  height: 20%;
}

#aboutUs{
  width: 100%;
  height: 35%;
  color:black;
  margin-top: 10px;

  h2{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

  p{
    margin-top: -1px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#gallery{
  width: 100%;
  height: 20%;
  margin-top: -10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.galleryImage{
  width: auto;
  height: 90%;
  padding: 2px;
}

#footerBar{
  width: 100vw;
  height: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:#8C1C13;

  font-family: 'Inknut Antiqua', serif;
  font-size: 8px;
  color: #E5E0DA;

  display: flex;
  align-items: center;

  h3{
      margin-left: 10px;
  }
}

.subHeaders{
  font-family: 'Inknut Antiqua', serif;
  font-size: 22px;
  margin: 0;
}
.subBodyText{
  font-family: 'Rubik', serif;
  font-size: 16px;
}
.subSubBodyText{
  font-family: 'Rubik', serif;
  font-size: 13px;
}

/* Even Bigger Screen */
@media screen and (min-width: 3001px){
  #headerBar{
    h1{
      font-size: 40px;
    }
    h3{
      font-size: 18px;
    }
  }
  #navigationBar{
    h2{
      font-size: 24px;
    }
  }
  .calendarMeetingDates{
    h5{
      margin-top: 10px;
      width: 80px;
      height: 80px;
    }
  }
  .calendarMeetingTitles{
    h5{
      margin-top: 15px;
      margin-bottom: -9px;
      margin-right: 0px;
    }
  }
  .buttonGroup{
    button{
      font-size: 32px;
      margin: 7px;
    }
  }
  .subHeaders{
    font-size: 30px;
    margin: 0;
  }
  .subBodyText{
    font-size: 28px;
  }
  .subSubBodyText{
    font-size: 22px;
  }
}

/* Slightly Bigger Screen */
@media screen and (min-width: 2001px) and (max-width: 3000px){
  #headerBar{
    h1{
      font-size: 38px;
    }
    h3{
      font-size: 16px;
    }
  }
  #navigationBar{
    h2{
      font-size: 22px;
    }
  }
  .calendarMeetingDates{
    h5{
      margin-top: 10px;
      width: 70px;
      height: 70px;
    }
  }
  .calendarMeetingTitles{
    h5{
      margin-top: 15px;
      margin-bottom: -9px;
      margin-right: 0px;
    }
  }
  .buttonGroup{
    button{
      font-size: 26px;
      margin: 7px;
    }
  }
  .subHeaders{
    font-size: 24px;
    margin: 0;
  }
  .subBodyText{
    font-size: 24px;
  }
  .subSubBodyText{
    font-size: 18px;
  }
}

/* Mid Screen */
@media screen and (min-width: 1500px) and (max-width: 2000px){
  #headerBar{
    h1{
      font-size: 36px;
    }
    h3{
      font-size: 14px;
    }
  }
  #navigationBar{
    h2{
      font-size: 20px;
    }
  }
  .calendarMeetingDates{
    h5{
      margin-top: 10px;
      width: 65px;
      height: 65px;
    }
  }
  .calendarMeetingTitles{
    h5{
      margin-bottom: -9px;
      margin-right: 0px;
    }
  }
  .subHeaders{
    font-size: 22px;
    margin: 0;
  }
  .subBodyText{
    font-size: 18.5px;
  }
  .subSubBodyText{
    font-size: 16px;
  }
}

/* IPad Screen */
@media screen and (min-width: 768px) and (max-width: 1024px){
  #pageContentTopRow{
    height: 35%;
  }
  #calendar{
    width: 90%;
  }
  #quickAccess{
    width: 30%;
  }
  #calendarOrganization{
    height: 75%;
  }
  .calendarMeetingTitles{
    h5{
      margin-bottom: 15px;
    }
  }
  .buttonGroup{
    button{
      font-size: 15px;
      margin: 7px;
    }
  }
  #mainImage{
    display: none;
  }
  #hiddenMainImageContainer{
    display: flex;
    justify-content: center;
  }
  #allButtonGroups{
    flex-direction: column;
  }
  #aboutUs{
    height: 25%;
  }
  .galleryImage{
    height: 50%; 
  }
  .subBodyText{
    font-size: 13px;
  }
  .subSubBodyText{
    font-size: 10px;
  }
}

/* IPhone Screen */
@media screen and (max-width: 767px) {
  #headerBar{
    h1{
      margin-top: 15px;
      margin-bottom: -10px;
      font-size: 20px;
    }
    h3{
      font-size: 10px;
    }
  }
  #siteCrest{
    margin-top: -1px;
  }
  #navigationBar{
    h2{
      font-size: 10px;
    }
  }
  #pageContent{
    width: 100vw;
    height: 85vh;
    margin-top: 10px;
  }
  #pageContentTopRow{
    flex-direction: column;
    align-items: center;
    height: 50%;  
  }
  #calendar{
    width: 100%;
    height: 65%;
  }
  #calendarOrganization{
    height: 95%;
  }
  .calendarMeetingTitles{
    h4{
      margin-bottom: -10px;
      margin-top: 15px;
    }
    h5{
      margin-bottom: -5px;
    }
  }
  .calendarMeetingDates{
    h5{
      margin-top: 10px;
      width: 25px;
      height: 25px;
    }
  }
  #quickAccess{
    height: 40%;
  }
  .buttonGroup{
    button{
      font-size: 8px;
      margin: 2px;
      padding: 1px;
    }
  }
  #mainImage{
    display: block;
    width: auto;
    height: 65px;
  }
  #hiddenMainImageContainer{
    display: none;
  }
  .divider{
    margin-left: 5px;
    width: 95%;
    height: 2px;
  }
  #aboutUs{
    height: 30%;
    p{
      padding-bottom: 0px;
    }
  }
  #gallery{
    margin-top: -10px;
    height: 15%;
  }
  .galleryImage{
    height: 40%; 
  }
  .subBodyText{
    font-size: 9px;
  }
  .subSubBodyText{
    font-size: 7px;
  }
  .subHeaders{
    font-size: 15px;
    margin-bottom: -10px;
    margin-top: -12px;
  }
}

